<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Boggle Game{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% block head%} {% endblock %}
</head>
<body>
    <header>
        <h1>Boggle Game</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block script%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='app.js')}}"></script>
    <!-- additional block can be displayed here! -->
    {% endblock %}
</body>
</html>